*{
    font-family: "Gilroy";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(70,  140, 150, 170)
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
}
#ptop{
    padding: 0% 25%;
    justify-content: space-between;
    display: flex;
    color: #fff;
    align-items: center;
    display: flex;
    width: 100%; 
    height: 15%;
    background-color: #b9479e;
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;  
}
.box{
    color: #0e0e67b4;
    font-weight: 600;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
} 

#pbtm{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: 85%;
    /* height: calc(); */
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 15px; */
    width: 40px;
    height: 40px;
    background-color: rgb(30, 50, 80);
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
}
.bubble:hover{
    cursor:pointer;
    background-color: rgb(50, 75, 50);
}